.classpath
.project
.settings/
build.properties
META-INF/
target/

xyz.aspectowl.protege.plugin.iml
.idea
catalog-v001.xml
src/main/java/xyz/aspectowl/Test.java
src/main/java/xyz/aspectowl/TestTarget.java
/build/helpers/dev.properties
